* {
  box-sizing: border-box;
}

.navbar {
  margin: 40px;
}

.content {
  margin: 100px;
}
.content2 {
  margin: 100px;
}
.flowing {
  margin: 100px;
  padding-top: 50px;
}
h1 {
  font-family: poppins;
}

body {
  background-image: url("images/bg-hero-desktop.svg");
}
.grow {
  margin: 40px;
}
.btn-nav {
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(79, 79, 79, 0.796);
}
.mockup {
  width: 400px;
  height: 300px;
  float: right;
}
.grow2 {
  width: 400px;
  height: 300px;
  float: right;
}
.flow {
  width: 400px;
  height: 300px;
  float: left;
}

.bg2 {
  background-color: rgb(255, 255, 255);
}

.footer {
  background-color: black;
  color: white;
}

.btn2 {
  background-color: hsl(322, 100%, 66%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  font-family: opensans;
  color: white;
}
